In [ ]:
"""
Module 4 Programming Assignment - Modules and Databases

Author: Tre'tin Alvarez
Description: This script is to complete a homework assignment based on problems in our book.

11.1 - Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
Then, use the interactive interpreter to import the zoo module and call its hours() function.

11.2 - In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

16.8 - Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4.
As in 16.6, select and print the title column from the book table in alphabetical order.
"""

In [ ]:
## 11.1 

# zoo.py file
def hours():
    print("Open 9-5 daily")

#interpreter
import zoo

zoo.hours()

#output
Open 9-5 daily

In [ ]:
## 11.2

#interpreter
import zoo as menagerie

menagerie.hours()

#output
Open 9-5 daily

In [ ]:
## 16.8

from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine("sqlite:///books.db")

metadata = MetaData()
metadata.reflect(bind=engine)

book_table = metadata.tables['book']

stmt = select(book_table.c.title).order_by(book_table.c.title)

with engine.connect() as conn:
    results = conn.execute(stmt)
    for row in results:
        print(row.title)